/* Basic Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body, html {
    overflow-x: hidden;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}


a:hover, button:hover {
    cursor: pointer;
}

/* Header Start */

.header {
    width: 100%;
    height: 80vh;        
    padding: 6rem 5rem 6rem 10rem;
    position: relative;       
    background: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.295)), url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 0;   
    min-height: 0;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
}



.header .logoNav {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 100%;
    top: 0;
    left: 0;
}

.header .logoNav a img {
    margin-right: 5rem;
}

.header .logoNav .btn-nav {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.header .logoNav .navmenu {    
    flex: 1;
    display: flex;
    position: relative;
    justify-content: flex-end;  
    align-items: center;

}

.header .logoNav .navmenu li {
    margin-right: 2.5rem;
    position: relative;
    
}

.header .logoNav .navmenu li a {
    color: hsl(0, 0%, 100%);
    transition: 1s;
   

}

.header .subtitle {       
    position: relative;
    top: 30%;

}


.header .subtitle h1 {
    
    color: #fff;
    border: 2px solid #fff;
    padding: 2.5rem 2.2rem 1.7rem;
    font-size: 5rem;
    line-height: 0.95;
    width: 100%;
    max-width: 48rem;
    font-family: 'Josefin Sans', sans-serif ;
    font-weight: 300;
    text-transform: uppercase;

}

/* Header End */

/* Main Content Start */
/* Headline */

.headline {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;        
    padding: 2rem 10rem 0 26.5rem;
    width: 100%;

}

.headline .hImgCont {
    position: relative;
    width: 100%;
      
          
      
}



.headline .leaderVR {   
    text-align: left; 
    position: relative;           
    margin: 20rem 6rem 0 -11rem;                
    padding: 7rem;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
    width: 100%;
}

.headline .leaderVR h2 {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    width: 25rem;

}

.headline .leaderVR p {
    color: hsl(0, 0%, 55%);    
    line-height: 1.5;    
    width: 25rem;
    
}

/* Headline end */

/* Portfolio Start */

.portfolio {         
    padding: 5rem 10rem 12rem 7rem;                 

}

.portfolio .pStart {
    display: flex;  
    justify-content: space-between;
    padding-bottom: 3rem;    
}

.portfolio .pStart h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

.portfolio .pStart .btn-seeAll {      
    text-transform: uppercase;
    background-color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    border: solid 1px black;   
    padding: 0.6rem 2.8rem;
    
    
}

.portfolio .mob-seeAll {
    display: none;      
    text-transform: uppercase;
    background-color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    border: solid 1px black;   
    padding: 0.6rem 2.8rem;
    
    
}

.portfolio .mobpcard-container {
   display: none;
}

.portfolio .pcard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.25rem;
  

}

.portfolio .pcard-container .card {   
    position: relative;    
}

.portfolio .pcard-container .card img {
    filter:brightness(90%);
    width: 100%;
}

.portfolio .pcard-container .card h2 {
    position: absolute;
    bottom: 10%;
    left: 13%;
    width: 50%;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    
}

/* Portfolio End */

/* Footer Start */

footer {
    background-color: hsl(0, 0%, 0%);
    padding: 2.5rem 7rem;
    color:hsl(0, 0%, 100%);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

footer .logocont a img {
    width: 150px;
}



footer .l-column .navmenuf {
    display: flex;
    justify-content: space-between;    
    margin: 1rem 9rem 0 0;
    width: 100%;        
}



footer .r-column .social-btns {
    display: flex;        
    justify-content: flex-end;
}

footer .r-column .social-btns a img {
    padding-left: 1.25rem;
  
}

footer .r-column p {     
    padding-top: 1.25rem;
    color: hsl(0, 0%, 41%);
    margin-left: 2rem;
  
}


/* Footer end */

/* Responsive Design Start */

@media (max-width: 1200px) {

    /* Headline */

    .headline {
        flex-direction: column;
        padding: 5rem 10rem 0rem;

    }

    .headline .hImgCont {        
        width: 100%;                           
        
    }

    .headline .hImgCont img{
        width: 100%;
    }



    .headline .leaderVR {  
        text-align: center;      
        margin: 0;
        padding: 4rem 3rem 0;
        width: 100%;           

    }

    .headline .leaderVR h2 {
        font-size: 2.7rem;
        width: 100%;
        margin-bottom: 1rem;

    }

    .headline .leaderVR p {   
        width: 100%;

    }

    /* Headline end */

    /* Portfolio Start */

    .portfolio {         
        padding: 8rem 4rem 8rem 4rem;                 
    
    }
    
  
    .portfolio .pcard-container {
        display: none;

    }

    .portfolio .mobpcard-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        
    }
    

    .card  {
        object-fit: cover;       
        overflow: hidden;
        width: 100%;

       
        
    }



    .portfolio .mobpcard-container .card img {
        filter:brightness(90%);
        width: 100%;

    }
    
    .portfolio .mobpcard-container .card h2 {
        position: absolute;
        transform: translateY(-80px) translateX(20px);   
        width: 13%;
        color:hsl(0, 0%, 100%);
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        
    }

}

@media (max-width: 850px) {
    
    .header .logoNav  {
        flex-direction: column;
    }

    .header .logoNav .navmenu {
        margin-top: 2rem;
    }

    .header .subtitle h1 {
        font-size: 4rem;

    }
    
    footer {
        flex-direction: column;      
        text-align: center;
        padding: 3.73rem 1.6rem;
        
    }



    footer .l-column .navmenuf {
        flex-direction: column;
    

  
    }

    footer .logocont a img {
        margin-bottom: 1.3rem;
    }

    footer .l-column .navmenuf li {
        margin-bottom: 1.3rem;
    }

    footer .r-column .social-btns {
        padding-left: 0;
        margin-top: 1.8rem;
        position: relative;
        justify-content: center;
    }

    footer .r-column .social-btns a img {
        justify-content: space-between;

    }
}

@media (max-width: 750px) {

    .header {
        padding: 3rem 2rem;
   
        
       

    }

    .header .logoNav  {
        flex-direction: row;
    }

    .header .logoNav .navmenu {
        display: none;

    }

    .header .logoNav .btn-nav {
        display: flex;

    }

    .header .subtitle {
        max-width: 30rem;
    }

    .header .subtitle h1 {
        font-size: 3rem;
    }

    .headline {
        padding: 5rem 2rem 1rem;
    }

    .portfolio {
        display: flex;
        flex-direction: column;        
        text-align: center;
        justify-content: center;
        padding: 5rem 1.5rem;
    }

    .portfolio .pStart {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        
    }

    .portfolio .pStart h2 {
        font-size: 2.5rem;              
    }

    .portfolio .pStart .btn-seeAll {
        display: none;

    }

    .portfolio .mob-seeAll {
        position: relative;
        width: 15rem;        
        display: block;
        bottom: 0;
        margin-top: 2rem;
        transform: translateX(50%)
    }


    .portfolio .mobpcard-container .card h2 {
        text-align: left;
        width: 35%;
        font-size: 2rem;
    } 
    
}

@media (max-width: 650px) {

    .portfolio .mobpcard-container {
        grid-template-columns: 1fr;
      
    }

    .portfolio .mobpcard-container .card {  
        height: 8rem;      
        display: grid;
        grid-gap: 1rem; 
        padding-bottom: 2rem;
    }

    .portfolio .mobpcard-container .card img {
        filter:brightness(80%);
      
    }

    .portfolio .mobpcard-container .card h2 {
        font-size: 1.7rem;  
        margin: 0 0 5rem 2rem;
        transform: translateY(40px);
        width: 35%;   
                 
        
    } 
}
