/* Basic Setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body, html {
    overflow-x: hidden;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}





a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}


a:hover, button:hover {
    cursor: pointer;
}


.container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    grid-gap: 9.6rem;
}

/* Header Start */

.header {
    width: 100%;
    height: 80vh;        
    padding: 6rem 5rem 6rem 6rem;
    position: relative;       
    background: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.295)), url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 0;   
    min-height: 0;
    
}

/* .header .navmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    
} */






.header .logoNav {
    display: flex;
    position: relative;    
    align-items: center;
    justify-content: space-between;    
    max-width: 111rem;
    padding: 0;
    top: 0;
    left: 0;
}

.header .logoNav .lsLogo {   
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: relative;
    z-index: 20;
}

.header .logoNav a img {
    margin-right: 5rem;    
}

.header .logoNav .navmenu .btn-nav {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
}

.header .logoNav .navmenu {
    display: flex;
    position: relative;
}

.nav__menu {    
    background-color: unset;
    position: relative;
    width: unset;
    height: unset;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2rem;
    align-content: start;
    justify-items: start;
    padding: 0;
    left: 0;

}

.nav__menu--hidden {
    visibility: visible;
    top: unset;
    height: unset;
}


/* 
.nav__menu--hidden {    
    top: -100vh;
    transition: all 0.8s;
} */



.header .logoNav .nav__menu li {
    margin-right: 2.5rem;
    position: relative;
    
}

.header .logoNav .nav__menu li a {
    color: hsl(0, 0%, 100%);
    transition: 1s;
   

}

.header .mobNav {
    color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.header .subtitle {       
    display: grid;
    align-content: center;
    width: 100%;
    padding-top: 10rem;


}


.header .subtitle h1 {
    
    color: #fff;
    border: 2px solid #fff;
    padding: 2.5rem 2.2rem 1.7rem;
    font-size: 5rem;
    line-height: 0.95;
    width: 100%;
    max-width: 48rem;
    font-family: 'Josefin Sans', sans-serif ;
    font-weight: 300;
    text-transform: uppercase;

}

/* Header End */

/* Main Content Start */
/* Headline */

.headline {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;        
    padding: 2rem 10rem 0 26.5rem;
    width: 100%;

}

.headline .hImgCont {
    position: relative;
    width: 100%;
      
          
      
}



.headline .leaderVR {   
    text-align: left; 
    position: relative;           
    margin: 20rem 6rem 0 -11rem;                
    padding: 7rem;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
    width: 100%;
}

.headline .leaderVR h2 {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    width: 25rem;

}

.headline .leaderVR p {
    color: hsl(0, 0%, 55%);    
    line-height: 1.5;    
    width: 25rem;
    
}

/* Headline end */

/* Portfolio Start */



.portfolio {
    width: 100%;         
    padding: 5rem 10rem 12rem 7rem;
    display: flex; 
    justify-content: center;                 

}

.pcontainer {
    max-width: 100rem;
}

.portfolio .pStart {
    display: flex;  
    justify-content: space-between;
    padding-bottom: 3rem;    
}

.portfolio .pStart h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

.portfolio .pStart .btn-seeAll {      
    text-transform: uppercase;
    background-color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    border: solid 1px black;   
    padding: 0.6rem 2.8rem;
    
    
}

.portfolio .mob-btncont {
    display: none;
}

.portfolio .mob-seeAll {
       
    text-transform: uppercase;
    background-color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    border: solid 1px black;   
    padding: 0.6rem 2.8rem;
    
    
}

.portfolio .mobpcard-container {
   display: none;
}

.portfolio .pcard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.4rem;
  

}

.portfolio .pcard-container .card {   
    position: relative;    
}

.portfolio .pcard-container .card img {
    filter:brightness(90%);
    width: 100%;
}

.portfolio .pcard-container .card h2 {
    position: absolute;
    bottom: 10%;
    left: 13%;
    width: 50%;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    
}

/* Portfolio End */

/* Footer Start */

footer {
    background-color: hsl(0, 0%, 0%);
    padding: 2.5rem 7rem;
    color:hsl(0, 0%, 100%);    
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

footer .logocont a img {
    width: 150px;
}



footer .l-column .navmenuf {
    display: flex;
    justify-content: space-between;    
    margin: 1rem 9rem 0 0;
    width: 100%;        
}



footer .r-column .social-btns {
    display: flex;        
    justify-content: flex-end;
}

footer .r-column .social-btns a img {
    padding-left: 1.25rem;
  
}

footer .r-column p {     
    padding-top: 1.25rem;
    color: hsl(0, 0%, 41%);
    margin-left: 2rem;
  
}


/* Footer end */

/* Responsive Design Start */

@media (max-width: 1200px) {

    /* Headline */

    
    
    .headline {
        flex-direction: column;
        justify-content: center;
        padding: 8rem 2rem 0rem;

    }

    .headline .hImgCont {  
        max-width: 55rem;               
                                    
        
    }

    .headline .hImgCont img{
        max-width: 70rem;
    }



    .headline .leaderVR {  
        text-align: center;      
        margin: 0;
        padding: 4rem 0 0 0;
        width: 80%;           

    }

    .headline .leaderVR h2 {
        font-size: 2.7rem;
        width: 100%;
        margin-bottom: 1rem;

    }

    .headline .leaderVR p {   
        width: 100%;

    }

    /* Headline end */

    /* Portfolio Start */

    .portfolio {         
        padding: 8rem 4rem 8rem 4rem;                 
    
    }
    
  
    .portfolio .pcard-container {
        display: none;

    }

    .portfolio .mobpcard-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        
    }
    

    .card  {
        object-fit: cover;       
        overflow: hidden;
        width: 100%;

       
        
    }



    .portfolio .mobpcard-container .card img {
        filter:brightness(90%);
        width: 100%;

    }
    
    .portfolio .mobpcard-container .card h2 {
        position: absolute;
        transform: translateY(-80px) translateX(20px);   
        width: 13%;
        color:hsl(0, 0%, 100%);
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        
    }

}

@media (max-width: 850px) {



    .header .logoNav  {
        flex-direction: column;
    }

    .header .logoNav .nav__menu {
        margin-top: 2rem;
    }

    .header .subtitle h1 {
        font-size: 4rem;

    }
    
    footer {
        flex-direction: column;      
        text-align: center;
        padding: 3.73rem 1.6rem;
        
    }



    footer .l-column .navmenuf {
        flex-direction: column;
    

  
    }

    footer .logocont a img {
        margin-bottom: 1.3rem;
    }

    footer .l-column .navmenuf li {
        margin-bottom: 1.3rem;
    }

    footer .r-column .social-btns {
        padding-left: 0;
        margin-top: 1.8rem;
        position: relative;
        justify-content: center;
    }

    footer .r-column .social-btns a img {
        justify-content: space-between;

    }
}

@media (max-width: 750px) {

    .header {
        background-image: url(../images/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4rem 2.4rem;
        height: 65rem;
        width: 100%;
        background-position: center;
        position: relative;
        display: -ms-grid;
        display: grid;
        justify-items: center;
        min-width: 0;
        min-height: 0;
        overflow: hidden;
    
    }

    .header .logoNav  {
        position: fixed;
        flex-direction: row;
        padding: 4rem 2.4rem;
        z-index: 10;
        width: 100%;
      

        
    }

  


    .logoNav--scroll {
        position: fixed;
        background-color: black;        
        width: 100rem;
        padding: 3rem 2.4rem;
        z-index: 10;
    }


    .header .logoNav .nav__menu--hidden {
        visibility: hidden;
        top: -200vh;
        transition: all 0.8s;
        

    }

    .nav__menu {
        background-color: #000;
        color: #fff;
        position: absolute;
        top: -100px;
        grid-auto-flow: unset;
        left: -95vw;
        height: 150vh;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        z-index: 10;
        width: 150vw;
        padding: 22rem 3.4rem 0;        
        display: grid;
        -ms-flex-line-pack: start;
        align-content: start;
        justify-items: start;        
        
    }

    .nav__menu-item {    
        font-size: 2.4rem;   
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;        
        position: relative;        
        transition: all 0.2s;
    }

    
    @keyframes fadeInTop {
        0% {
        opacity: 0;
        transform: translateY(-0.75rem);
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }

    
  

 

    /* .header .logoNav nav { 
        display: flex;
        justify-content: flex-end;
        position: relative;   
        width: 26px; 
        margin-left: clamp(10px, 300%, 150px);
       
                     
    } */

  

    .header .logoNav .navmenu {
        position: relative;        
        display: flex;
        justify-content: flex-end;
        max-width: 100rem;                   
        
        
        
    }
  
 

    .header .logoNav .navmenu .btn-nav {
        position: relative;        
        display: flex;                  
        z-index: 20;
        
        
    }

    .header .logoNav--scroll nav .btn-nav {
        position: relative;
        display: flex;
        z-index: 20;
        
    }



    .header .subtitle {
        max-width: 30rem;
    }

    .header .subtitle h1 {
        font-size: 3rem;
    }

    .headline {
        padding: 5rem 1.5rem 1rem;
    }

    .headline .hImgCont {
        width: 100%;
    }

    .headline .leaderVR {
        width: 100%;
    }

 

    .portfolio {
        display: flex;
        flex-direction: column;        
        text-align: center;
        justify-content: center;
        padding: 5rem 1.5rem;
    }

    .portfolio .pStart {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        
    }

    .portfolio .pStart h2 {
        font-size: 2.5rem;              
    }

    .portfolio .pStart .btn-seeAll {
        display: none;

    }

    .portfolio .mob-btncont {
        display: flex;
        justify-content: center;
    }

    .portfolio .mob-seeAll {                  
        display: block;
        bottom: 0;
        margin-top: 2rem;
        
    }


    .portfolio .mobpcard-container .card h2 {
        text-align: left;
        width: 20%;
        font-size: 1.8rem;
    } 
    
}

@media (max-width: 650px) {

    .portfolio {
        padding: 5rem 1.5rem;
    }
    
    .portfolio .mobpcard-container {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
      
    }

    .portfolio .mobpcard-container .card {  
        height: 8rem;      
        display: grid;
        grid-gap: 1rem; 
        padding-bottom: 2rem;
    }

    .portfolio .mobpcard-container .card img {
        filter:brightness(80%);
      
    }

    .portfolio .mobpcard-container .card h2 {
        font-size: 1.6rem;  
        margin: 0 0 5rem 2rem;
        transform: translateY(60px) translateX(-10px);
        width: 50%;   
                 
        
    } 
}

@media (max-width: 460px) {

    .headline .leaderVR {
        padding: 2rem 1rem 0;
    }
    .headline .leaderVR h2 {
        font-size: 2rem;
    }

    .headline .leaderVR p {
        font-size: 0.8rem;
    }
}


@media (max-width: 420px) {
    .header .subtitle h1 {        
        font-size: 2.7rem;
        padding: 2.5rem 1.6rem 1.7rem;

    }
}

@media (max-width: 360px) {

    .header .subtitle h1 {        
        font-size: 2.2rem;
        padding: 2.5rem 1.6rem 1.7rem;

    }

    .portfolio .mobpcard-container .card {
        padding-bottom: 0;
    }

    .portfolio .mobpcard-container .card img {
        height: 100%;
    }



    .pStart h2 {
        font-size: 2rem !important;
       
    }

    .header .logoNav a img {
        margin-right: 3rem;
    }

    .portfolio .mobpcard-container .card h2{
        font-size: 1.3rem;
    }

}





