/* Basic Setting */

* {
    margin: 0;
    padding: 0;    
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;;
    color: black;
    overflow-x: hidden;
    
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}


a:hover, button:hover {
    cursor: pointer;
}

/* Main Container */

.container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    grid-gap: 15.8rem;
}

/* Header Start */

.header {
    width: 100%;
    height: 65rem;        
    padding: 6.4rem 5.5rem;
    position: relative;       
    background: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.397)), url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 0;   
    min-height: 0;
    display: grid;
    align-items: start;
    justify-items: center;     
    overflow: hidden;
    
}



.logoNav {
    display: flex;
    position: relative;    
    align-items: center;
    justify-content: space-between;    
    max-width: 111rem;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    grid-gap: 3.3rem;
}

.header .logoNav .lsLogo {   
    width: clamp(144px, 30%, 192px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 50px;
    
}

.header .logoNav a img {            
    z-index: 20;
    position: relative;
    width: clamp(110px, 100%, 192px);
    
}

.nav__menu-item {
    color: #fff;
    font-size: 1.5rem;

    
}

.nav__menu-item::before {
    transition: all 0.6s;
    content: "";
    position: absolute;
    width: 46%;
    height: 2px;
    bottom: -1.1rem;
    left: 25%;
    background-color: #fff;
    transform: scaleX(0);

}

.nav__menu-item:hover::before {
    transform: scaleX(1);
}

.header .logoNav .navmenu .btn-nav {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
}



.nav__menu {    
    background-color: unset;
    position: relative;
    width: unset;
    height: unset;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3.3rem;
    align-content: start;
    justify-items: start;
    padding: 0;
    left: 0;

}

.nav__menu--hidden {
    visibility: visible;
    top: unset;
    height: unset;
}





.nav__menu-item {    
    position: relative;
    font-size: 1.5rem;
    
}

.header .logoNav .nav__menu li a {
    color: hsl(0, 0%, 100%);
    transition: 1s;  
   
}



.header .subtitle {       
    display: grid;
    align-content: center;
    max-width: 111rem;
    width: 100%;   
    margin-top: 5rem;


}


.header .subtitle h1 {
    
    color: #fff;
    border: 2px solid #fff;
    padding: 3.8rem 3.8rem 2.8rem;
    font-size: 7.2rem;
    line-height: 0.97;    
    max-width: 65rem;
    font-family: 'Josefin Sans', sans-serif ;
    font-weight: 300;
    text-transform: uppercase;
    

}

/* Header End */

/* Info Content Start */
/* Headline */

.headline {
    display: grid;
    grid-auto-flow: column;        
    padding: 0 5.5rem;
    max-width: 122rem;
    grid-gap: 0;

}

.headline .hImgCont img {

    width: 72.9rem;

      
          
      
}



.headline .leaderVR {   
    display: grid;
    align-self: end;
    padding: 9.6rem 0 0 9.6rem;
    width: 143%;
    margin-left: -16rem;                
    background-color: hsl(0, 0%, 100%);    
    text-align: left;                
    grid-gap: 2.6rem;
}

.headline .leaderVR h2 {
    font-size: 4.8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;       
}

.headline .leaderVR p {    
    color: hsl(0, 0%, 55%);    
    line-height: 1.68;        
    padding: 0;
    
}

/* Headline end */

/* Portfolio Start */



.portfolio {
    width: 100%;
    max-width: 122rem;         
    margin: 2.5rem 0;
    padding: 0 5.5rem;
    grid-template-areas: 
        "heading button"
        "cards cards";
    display: grid;
    align-items: center; 
    text-align: left;
    grid-gap: 8rem;

}

.portTitle {
    font-size: 4.8rem;
    color: black;
    line-height: 1;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.btn-seeAll {
    grid-area: button;
    justify-self: end;
    text-transform: uppercase;
    border: 1.5px solid black;
    padding: 1rem 3.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    text-align: center;
    transition: all 0.8s
}

.btn-seeAll:hover, .btn-seeAll:focus {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%)
}



.pcard-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 0;
    grid-gap: 3rem;
    grid-area: cards;
    text-align: left;    
    min-width: 0;
    min-height: 0;
    overflow: hidden;    
}

.card {    
    height: 45rem;
    padding: 3rem 4rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    justify-content: start;
    align-content: end;

}

.card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s;
    z-index: 0;
}

.card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0 , 0.5),
      transparent
    );
    transition: all 0.8s;
}

.card:hover::before {
    
      transform: scale(1.05);
    }
.card:hover::after {
      background-color: rgba(255, 255, 255, 0.7);
      background-image: unset;
    }

.card:hover > .card-name {
      color: black;
      transition: all 0.8s;
 }

 .card-name {
     font-size: 3.2rem;
     color: #fff;
     line-height: 1;
     position: relative;
     z-index: 10;
     font-family: "Josefin Sans", sans-serif;
     text-transform: uppercase;

 }
  

.card--1::before {
    background-image: url(images/desktop/image-deep-earth.jpg);
}
.card--2::before {
    background-image: url(images/desktop/image-night-arcade.jpg);
}
.card--3::before {
    background-image: url(images/desktop/image-soccer-team.jpg);
}
.card--4::before {
    background-image: url(images/desktop/image-grid.jpg);
}
.card--5::before {
    background-image: url(images/desktop/image-from-above.jpg);
}
.card--6::before {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
}
.card--7::before {
    background-image: url(images/desktop/image-curiosity.jpg);
}
.card--8::before {
    background-image: url(images/desktop/image-fisheye.jpg);
}









/* Portfolio End */

/* Footer Start */

footer {
    background-color: hsl(0, 0%, 0%);
    padding: 4.5rem 5.5rem;
    color:hsl(0, 0%, 100%);    
    display: flex;
    justify-content: center;    
    width: 100%;
}

.ft-container {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "logo social"
        "links copyright";
    justify-content: space-between;
    justify-items: unset;
    grid-gap: 2.2rem;
    max-width: 111rem;
}

.ftLogo {
    grid-area: logo;
    width: 14.4rem;
}

 .navmenuf {
     grid-area: links;
        
}

.navmenuf__links-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3.3rem;
    margin-top: 0;
    text-align: center;
}

.navmenuf__links-list-item {
    font-size: 1.5rem;
    color: #fff;
    position: relative;

}

.navmenuf__links-list-item::before {
    transition: all 0.6s;
    content: "";
    position: absolute;
    width: 46%;
    height: 0.2rem;
    bottom: -1.1rem;
    left: 25%;
    background-color: #fff;
    transform: scaleX(0);

}

.navmenuf__links-list-item:hover::before {
    transform: scaleX(1);
}

.social-btn {
    width: 2.4rem;
    position: relative;
}

.social-btns {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    grid-area: social;
    justify-self: right;
    margin-top: 0;
    align-items: center;
}

.social-btn::before {    
    transition: all 0.6s;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: -0.5rem;
    left: 0;
    background-color: #fff;    
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
}

.social-btn:hover::before, .social-btn:focus::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.social-btn--twitter::before {
    bottom: -0.7rem;
}





.ft-copy {
    color: dimgray;
    grid-area: copyright;
    justify-self: right;
    margin-top: 0;
}





/* Footer end */

/* Responsive Design Start */

@media (max-width: 1200px) {

    .container {
        grid-gap: 12.8rem;
    }
    
   

 

    .header .subtitle h1 {
       
        font-size: 6.4rem;
        width: 100%;
        max-width: 56rem;
    }

   
     /* Headline Start */
    
    .headline {
        grid-gap: 6.4rem;
        max-width: 92rem;
        grid-auto-flow: row;        
        padding: 0 5.5rem;

    }
 

    .headline .hImgCont img{
        width: 100%;
    }

    .headline .leaderVR {        
        grid-gap: 1.6rem;
        padding: 0;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

 

    .headline .leaderVR h2 {
        font-size: 4rem;    
        
    }

    .headline .leaderVR p {   
        padding: 0 1.5rem;

    }

    /* Headline end */

    /* Portfolio Start */

    .portfolio {
        grid-gap: 6.4rem;
        margin: unset;
        
    }

    .portTitle {
        font-size: 4rem;
    }

    .pcard-container {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    }

    .card {
        height: 15rem;
        padding: 0 0 2rem 2rem;
    }

    .card::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0 , 0.5),
          transparent
        );
        transition: all 0.8s;
    }


    .card-name {
        font-size: 2.4rem;
    }




    .card--1::before {
        background-image: url(images/mobile/image-deep-earth.jpg);
    }
    .card--2::before {
        background-image: url(images/mobile/image-night-arcade.jpg);
    }
    .card--3::before {
        background-image: url(images/mobile/image-soccer-team.jpg);
    }
    .card--4::before {
        background-image: url(images/mobile/image-grid.jpg);
    }
    .card--5::before {
        background-image: url(images/mobile/image-from-above.jpg);
    }
    .card--6::before {
        background-image: url(images/mobile/image-pocket-borealis.jpg);
    }
    .card--7::before {
        background-image: url(images/mobile/image-curiosity.jpg);
    }
    .card--8::before {
        background-image: url(images/mobile/image-fisheye.jpg);
    }

    /* Portfolio end */
    /*  1200 end */
}

@media (max-width: 850px) {



    .pcard-container {
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    }

    /* Footer Start */

    footer {
        padding: 5.6rem 2.4rem; 
     
    }

    .ft-container {
        justify-items: center;
        grid-template-areas: unset;
        justify-content: unset;        
        grid-gap: unset;
    }

    .ftLogo {
        grid-area: unset;
    }

    .navmenuf {
        grid-area: unset;
    }

    .navmenuf__links-list {               
        grid-auto-flow: row;
        grid-gap: 2rem;
        margin-top: 3.5rem;
    }

    .social-btns {
        margin-top: 5rem;
        justify-self: unset;
        grid-area: unset;
    }

    .ft-copy {
        grid-area: unset;
        justify-self: unset;
        margin-top: 1.4rem;
        text-align: center;
    }
    
    /* Footer End */

    /* 850 end */
    
}

@media (max-width: 750px) {

    .container {
        grid-gap: 9.6rem;
    }

    /* Header Start */

    .header {
        background-image: url(../images/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 4rem 2.4rem;
        height: 65rem;
        width: 100%;
        background-position: center;
        position: relative;        
        display: grid;
        justify-items: center;
        min-width: 0;
        min-height: 0;
        overflow: hidden;        
    
    }

    .logoNav  {
        position: fixed;
        flex-direction: row;
        padding: 4rem 2.4rem;
        z-index: 11;
        width: 100%;
      

        
    }

  

    .logoNav--scroll {        
        background-color: black;                
        padding: 3rem 2.4rem;
        z-index: 11;
    }


    .header .logoNav .nav__menu--hidden {
        visibility: hidden;
        top: -200vh;
        transition: all 0.8s;
        

    }

    .nav__menu {
        background-color: #000;
        color: #fff;
        position: absolute;
        top: -100px;
        grid-auto-flow: unset;
        left: -105vw;
        height: 150vh;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        z-index: 10;
        width: 200vw;
        padding: 22rem 0rem 0 clamp(20vw, 25vw, 30vw);        
        display: grid;
        -ms-flex-line-pack: start;
        align-content: start;
        justify-items: start;        
        
    }

 
    .nav__menu-item {
        font-size: 2.4rem;                     
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;        
        position: relative;        
        transition: all 0.2s;
    }

    .nav__menu-item::before {
        width: 100%;
        bottom: -0.6rem;
        left: 0;
    }
    

    
    @keyframes fadeInTop {
        0% {
        opacity: 0;
        transform: translateY(-0.75rem);
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }

    .header .subtitle {
        width: 100%;
        max-width: unset;
        align-content: center;
        height: 85%;
    }

    .header .subtitle h1 {
        padding: 2.5rem 2.2rem 1.7rem;
        font-size: clamp(4rem, calc(8vw + 1rem), 5.6rem);
        line-height: 0.95;
        width: 100%;
        max-width: 48rem;
    }


    .headline .leaderVR h2 {
        font-size: 3.2rem;
    }
    
   

    .header .logoNav .navmenu {
        position: relative;        
        display: flex;
        justify-content: flex-end;
        max-width: 100rem;                   
        
        
        
    }
  
 

    .header .logoNav .navmenu .btn-nav {
        position: relative;        
        display: flex;                  
        z-index: 20;
        
        
    }

    .header .logoNav--scroll nav .btn-nav {
        position: relative;
        display: flex;
        z-index: 20;
        
    }

    /* Header End */

    /* Portfolio Start */

    .portfolio {
        padding: 0 2.4rem;
        grid-gap: 3.2rem;
        text-align: center;
        grid-template-areas: 
            "heading heading"
            "cards cards"
            "btn btn";



    }

    .portTitle {
        font-size: 3.2rem;
        justify-self: center;
        grid-area: heading;
    }

    .btn-seeAll {
        grid-area: btn;
        justify-self: center;

    }

    .pcard-container {
        margin-top: 1.6rem;
        grid-gap: 2.4rem;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        

    }



    .card {
        height: 12rem;
    }

    /* Portfolio End */

    /* 750 End */

 

    
}

@media (max-width: 700px) {
    
    .headline {
        padding: 0 2.4rem;
        grid-gap: 4.4rem;
    }

}



@media (max-width: 650px) {

   

    .nav__menu {
        padding-left: clamp(60vw, 100vw, 130vw);
        left: -170vw;
    }
}

@media (max-width: 374px) {

    .header {
        background-position: center top;
        height: 55rem;
    }

    .header .subtitle {
        height: 78.5%;
    }

    .header .subtitle h1 {
        font-size: 3.2rem;
    }


}

















